.mainContainer {
  max-width: 960px;
  width: 100%;
  height: calc(100vh - 88px);
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 990px) {
    width: 95%;
    flex-wrap: wrap;
  }

  @media (max-width: 770px) {
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
  }
}